body, html{
  margin: 0;
  width: 100%;
}

body{
  justify-content: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  height: 60px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

nav a{
  color: white;
  text-decoration: none;
  padding: 30px;
}

/* hovering oversection of nav bar that is NOT clicked on*/
nav a:not(:focus):hover{
  background-color: #333;
  transition: 0.5s;
}

/* when you click on a section of the nav bar*/
nav a:focus{
  background-color: white;
  color: black;
}

.pic{
  text-align: center;
}

/* for the picture of myself*/
.picture{
  height: 200px;
  width: 200px;
}

.pages h2{
  color: #2979ff;
  text-align: left;
  margin-left: 3vw;
  font-size: 28px;
}

/* for everything but the nav bar*/
.pages{
  padding: 10vh 0vh;
  min-height: 80vh;
  width: 100vw;
}

/*applies to line and brand*/
.info {
  text-align: center;
  padding: 10px;
}

.tag{
  font-weight: bold;
}

.line{
  text-align: center;
  margin-bottom: 5vh;
}

/* for my brand statement*/
.brand{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  margin-top: 10vh;
}

/*for everything in the portfolio section*/
.content{
  margin-left: 2vw;
}

/*applies to the titles of the project*/
.title{
  color: red;
  font-size: 28px;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: underline;
}

.project1{
  display: block;
  height: 90vh;
}

/*applies to every button*/
button{
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/*more button styling*/
.hang, .hang-code, .amazon, .amazon-code, .ididit, .front, .back{
  border: none;
  overflow: hidden;
  padding: 0;
  width: 150px;
  height: 40px;
  color: white;
  margin-top: 1rem;
}

.hang{
  background-color: #3d5afe;
}

.hang:hover{
  background-color: #8c9eff;
}

.hang-code{
  border-radius: 10em;
  background-color: #f50057;
}

.hang-code:hover{
  background-color: #ff80ab;
}

/* applies to image of project 1 */
.pj1{
  height: 400px;
  width: 48%;
  float: left;
}

.info1{
  float: right;
  width: 48%;
}

.project2{
  display: block;
  height: 90vh;
}

.info2{
  float: left;
  width: 47%;
  margin-right: 2vw;
}

/* applies to image of project 2 */
.pj2{
  height: 400px;
  width: 47%;
  float: right;
  margin-right: 2vw;
}

.amazon{
  background-color: #ff8f00;
}

.amazon:hover{
  background-color: #ffb300;
}

.amazon-code{
  border-radius: 10em;
  background-color: #212121;
}

.amazon-code:hover{
  background-color: #616161;
}

.project3{
  display: block;
  height: 90vh;
}

.pj3{
  height: 400px;
  width: 48%;
  float: left;
}

.info3{
  float: right;
  width: 48%;
}

.ididit{
  background-color: #f44336;
}

.ididit:hover{
  background-color: #e57373;
}

.front{
  background-color: #4caf50;
  border-radius: 10em;
}

.front:hover{
  background-color: #81c784;
}

.back{
  background-color: #fb8c00;
  border-radius: 10em;
}

.back:hover{
  background-color: #ffa726;
}

/* will adjust the layout of the portfolio section
when the screen size is less than 500px  */
@media screen
  and (max-width: 600px){
    .about{
      width: 100%;
    }
    .content{
      width:98%;
      display: block;
    }
    .pj1{
      width: 100%;
    }
    .info1{
      width: 100%;
      clear: both;
      float: none;
    }
    .project2{
      margin-top: 20vh;
    }
    .pj2{
      width: 100%;
    }
    .info2{
      width: 100%;
      clear: both;
      float: none;
    }
    .project3{
      margin-top: 30vh;
      height: 140vh;
    }
    .pj3{
      width: 100%;
    }
    .info3{
      width: 100%;
      clear: both;
      float: none;
    }
}

.con-icons{
  padding: 10px;
  display: block;
}

/* styling for icons */
.icons{
  float: left;
  margin: 25vh 0 0 11vw;
}

/* styling for icons */
.e-icon, .link-icon, .git-icon, .res-icon, .phone-icon{
  display: block;
  text-align: center;
}

/* styling for text underneath icons */
.e-text, .link-text, .git-text, .res-text, .phone-text{
  display: block;
  text-align: center;
}

.link{
  color: rgb(17, 120, 178);
}

.git{
  color: black;
}

.email{
  color: rgb(96, 29, 206)
}

.resume{
  color: orange;
}

.phone-icon{
  color: green;
}

#portfolio{
  background-color: white;
}
